@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* Stat card animation delays */
.stat-card-delay-0 {
  animation-delay: 0ms;
}

.stat-card-delay-100 {
  animation-delay: 100ms;
}

.stat-card-delay-200 {
  animation-delay: 200ms;
}

.stat-card-delay-300 {
  animation-delay: 300ms;
}

/* Property card animation delays */
.property-card-delay-0 {
  animation-delay: 0ms;
}

.property-card-delay-50 {
  animation-delay: 50ms;
}

.property-card-delay-100 {
  animation-delay: 100ms;
}

.property-card-delay-150 {
  animation-delay: 150ms;
}

.property-card-delay-200 {
  animation-delay: 200ms;
}

.property-card-delay-250 {
  animation-delay: 250ms;
}